<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="..\..\nuget.packages" />
  </config>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="NuGetv3 package source" value="https://api.nuget.org/v3/index.json" />
    <add key="MerrillNuGet" value="http://stp1ijenapp001:8081/repository/nuget-hosted/" />
  </packageSources>
  <disabledPackageSources>
    <add key="MerrillFolder" value="true" />
  </disabledPackageSources>
</configuration>
  